



<nav class="navbar navbar-expand-lg navbar navbar-dark bg-success">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="https://cdn-icons-png.flaticon.com/512/2922/2922037.png" alt="" width="60" height="40" style="border-radius: 50%;">HOT FOOD
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul   class="navbar-nav me-auto mb-2 mb-lg-0">
        
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="display" *ngIf = "auth.isLoggedIn()">items</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="add" *ngIf = "auth.isLoggedIn() && auth.isAdmin()" >Add items</a>
        </li>
        
        <li class="nav-item">
          <a class="nav-link active" routerLink="binding">first</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" routerLink="forms">templateform</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" routerLink="reactform">reactform</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" routerLink="newz">news</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" routerLink="parent">parent</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" routerLink="child">child</a>
        </li>
        </ul>
        <ul class="navbar-nav ml-auto  mt-lg-0 ">
        <li class="nav-item">
          <a class="nav-link active" routerLink="register" *ngIf = "!auth.isLoggedIn()" data-bs-toggle="tooltip" data-bs-placement="top" title="Register here">register</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" routerLink="login" *ngIf = "!auth.isLoggedIn()" >login</a>
        </li>
        <li class="nav-item ">
          <a class="nav-link active"
          (click) = "auth.logout()"
          style="cursor: pointer;"
          *ngIf = "auth.isLoggedIn()"
          >Logout</a>
        </li>
        
       
      </ul>
     <!--<form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>-->
    </div>
  </div>
</nav>

<router-outlet></router-outlet>
<!--<img src="https://ucarecdn.com/682df8d3-695d-4522-b19e-b09d69090a52/-/scale_crop/1060x570/" alt="" width="100%">--->