
<div class="alert alert-danger" *ngIf="error">{{ error }}</div>
<div class="alert alert-danger" *ngIf="message">{{ message }}</div>
<img src="https://ucarecdn.com/682df8d3-695d-4522-b19e-b09d69090a52/-/scale_crop/1060x570/" alt="" width="100%"
height="300px">

<div class="row">
  <span class="p1" style="text-align: center; color: green; font-size: x-large; font-weight: 300;"> Our food is locally sourced, handcrafted </span>
  <span class="p2" style="text-align: center; color: green; font-size: x-large; font-weight: 300;"> and baked fresh daily </span>
  
  <span class="p3" style="text-align: center; color: green; font-size: x-large; font-weight: 300;">  without the use of additives or preservatives.</span>


  








    <div class="col-md-3" *ngFor= "let item of items">
        <div class="card">
            <img [src]="item.imageURL" height="100px" width="100%">
        </div>
<div class="card-body">
    <div>{{ item.name }}</div>
    <div>{{ item.price }}</div>
</div>
<div class="card-footer">
    <button class="btn btn-warning" (click)="deleted(item)"   *ngIf = "auth.isLoggedIn() && auth.isAdmin()" >Delete</button>
    <button class="btn btn-primary"  (click) ="onEdit(item)"  *ngIf = "auth.isLoggedIn() && auth.isAdmin()"  >edit</button>
    
</div>
    </div>
</div>



<div class="container">
  <form  #editForm="ngForm"
  (ngSubmit) = "onFormSubmit()"
  *ngIf = "selectedToEdit && !itemUpdating">
   
            <!--<label for="id">Product Name</label>
            <input
              type="text"
              name="id"
              id="id"
              class="form-control"
              #Itemid
              ngModel
              [(ngModel)] = "selectedToEdit.id"
            />-->
          
          
            <label for="name">Product Name</label>
            <input
              type="text"
              name="name"
              id="name"
              class="form-control"
              #Itemnames
              ngModel
              [(ngModel)] = "selectedToEdit.name"
            />
          
         
            <label for="price">Product price</label>
            <input
              type="text"
              name="price"
              id="price"
              class="form-control"
              #Itemprice
              ngModel
              [(ngModel)] = "selectedToEdit.price"
            />
          
         
            <label for="imageURL">imageURL</label>
            <input
              type="text"
              name="imageURL"
              id="imageURL"
              class="form-control"
              #ImageUrl
              ngModel
              [(ngModel)] = "selectedToEdit.imageURL"
            />
          
         
            <div class="button-group float-right">
              <button type="submit" class="btn btn-secondary">Submit</button>
              <button type="reset" class="btn btn-primary">Reset</button>
            </div>
  </form>